<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqz.zhschool.mapper.TeacherMapper">

    <!--public Teacher selectAllByNameAndPassword(String name, String password);-->
    <select id="selectAllByNameAndPassword" resultType="com.cqz.zhschool.pojo.Teacher">
        SELECT * FROM t_teacher WHERE name = #{name} AND password = #{password}
    </select>
</mapper>